<nav class="navbar narbar-default navbar-fixed-top cl-black-navbar cl-header-padding">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand glyphicon glyphicon-chevron-left" href="#!/main">
            Main Page
        </a>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#!/admin/users">Users</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/lostDogs">Lost Dogs</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/foundDogs">Found Dogs</a>
        </li>
    </ul>
</div>