<nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/admin" class="navbar-link cl-text-white">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>
        <a class="cl-text-white navbar-brand cl-text-bold" href="#">
            Lost Dogs
        </a>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-1">
                    Name
                </div>
                <div class="col-xs-1">
                    Breeds
                </div>
                <div class="col-xs-3">
                    Description
                </div>
                <div class="col-xs-3">
                    Contact Information
                </div>
                <div class="col-xs-3">
                    DateCreated
                </div>
                <div class="col-xs-1">
                    Delete
                </div>
            </div>
        <li ng-repeat="lostDog in model.lostDogs" class="list-group-item">
            <div class="row">
                <div class="col-xs-1">
                    <input ng-model="lostDog.name" class="form-control"/>
                </div>
                <div class="col-xs-1">
                    <input ng-model="lostDog.breeds" class="form-control"/>
                </div>
                <div class="col-xs-3">
                    <input ng-model="lostDog.description" class="form-control"/>
                </div>
                <div class="col-xs-3">
                    <input ng-model="lostDog.phone" class="form-control"/>
                </div>
                <div class="col-xs-3">
                    <input ng-model="lostDog.dateCreated" class="form-control"/>
                </div>
                <div class="col-xs-1">
                    <span ng-click="model.deleteLostDogs(lostDog)" class="glyphicon glyphicon-remove pull-right">Delete</span>
                </div>
            </div>
        </li>
    </ul>
</div>