<div>
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="container">
        <form class="cl-form-bottom-padding">
            <label for="dogName">Dog's Name</label>
            <input ng-model="model.dog.name"
                   type="text"
                   class="form-control"
                   placeholder="Andy"
                   id="dogName" required>

            <label for="dogBreeds">Dog's breeds</label>
            <input ng-model="model.dog.breeds"
                   type="text"
                   class="form-control"
                   placeholder="Husky"
                   id="dogBreeds" required>

            <label for="OName">Owner's Name</label>
            <input ng-model="model.dog.owner"
                   type="text"
                   class="form-control"
                   placeholder="Tom"
                   id="OName" required>

            <label for="phone">Owner's Contact Information</label>
            <input ng-model="model.dog.phone"
                   type="number"
                   ng-minlength="10"
                   ng-maxlength="10"
                   class="form-control"
                   placeholder="2065043888"
                   id="phone" required>

            <label for="text">LostDog Description</label>
            <text-angular
                    ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
            ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
            ['indent','outdent'],['html']]"
                    ng-model="model.dog.description"
                    type="text"
                    place-holder="describe the details of your dog"
                    id="text">
            </text-angular>

            <label for="latbox">Latitude</label>
            <input ng-model="model.dog.lat"
                   type="text"
                   class="form-control"
                   placeholder=""
                   id="latbox" required>
            <label for="lngbox">Longitude</label>
            <input ng-model="model.dog.lng"
                   type="text"
                   class="form-control"
                   placeholder=""
                   id="lngbox" required>

        </form>

        <h3>Where did you lost your dog?</h3>
        <div id="map" style="width:100%; height:200px"></div>


        <a ng-click="model.createLostDog(model.dog)"
           class="btn btn-primary btn-block">Submit</a>
    </div>
</div>

